<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather of {{get_location.city_name}} </title>

    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">

</head>

<body>
    <div class="container">
        <div class="weather-side">
            <div class="weather-gradient"></div>
            <div class="date-container">

                <h2 class="date-dayname">
                    {{get_location.country}}
                </h2><span class="date-day">Time: {{get_location.current_time}}</span><i class="location-icon"
                    data-feather="map-pin"></i><span class="location">{{get_location.city_name}},
                    {{get_location.country_code}}</span>
            </div>
            <div class="weather-container"><i class="weather-icon" data-feather="sun"></i>
                <h1 class="weather-temp">{{weather.current_day.current_tmp|floatformat:1}}°C</h1>
                <h3 class="weather-desc">{{weather.current_day.description}}</h3>
            </div>
        </div>
        <div class="info-side">
            <div class="today-info-container">
                <div class="today-info">
                    <div class="precipitation"> <span class="title">Cloudiness</span><span
                            class="value">{{weather.current_day.Cloudiness}} %</span>
                        <div class="clear"></div>
                    </div>
                    <div class="humidity"> <span class="title">HUMIDITY</span><span
                            class="value">{{weather.current_day.humidity}} %</span>
                        <div class="clear"></div>
                    </div>
                    <div class="wind"> <span class="title">WIND</span><span class="value">{{weather.current_day.wind}}
                            km/h</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="location-container">
                <button class="location-button"> <i data-feather="map-pin"></i><span>Predictions for the Next
                        Hours</span></button>
            </div>
            <div class="week-container">
                <ul class="week-list">
                    <li class="active"><i class="day-icon" data-feather="sun"></i><span class="day-name"
                            id="day1">{{get_location.current_time}}</span><span
                            class="day-temp">{{weather.day1.temp|floatformat:0}}°C</span></li>
                    <li><i class="day-icon" data-feather="cloud"></i><span class="day-name" id="day2"></span><span
                            class="day-temp">{{weather.day2.temp|floatformat:0}}°C</span></li>
                    <li><i class="day-icon" data-feather="cloud-snow"></i><span class="day-name" id="day3"></span><span
                            class="day-temp">{{weather.day3.temp|floatformat:0}}°C</span></li>
                    <li><i class="day-icon" data-feather="cloud-rain"></i><span class="day-name" id="day4"></span><span
                            class="day-temp">{{weather.day4.temp|floatformat:0}}°C</span></li>
                    <div class="clear"></div>
                </ul>
            </div>

        </div>
    </div>

</body>
<script>
    //define a function for script to run and put in a list days
    function days() {
        var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var d = new Date();
        var dayName = days[d.getDay()];
        var day1 = days[d.getDay() + 1];
        var day2 = days[d.getDay() + 2];
        var day3 = days[d.getDay() + 3];
        var day4 = days[d.getDay() + 4];
        document.getElementById("day1").innerHTML = dayName;
        document.getElementById("day2").innerHTML = day1;
        document.getElementById("day3").innerHTML = day2;
        document.getElementById("day4").innerHTML = day3;
        document.getElementById("day5").innerHTML = day4;
    }
    //call the function
    days();
</script>

<script src="{% static 'assets/js/main.js' %}"></script>

</html>